.copy-right {
    display: flex;
    justify-content: space-evenly;
    color: $offwhite;
    font-size: 1.2em;
    font-weight: 600;
    margin-top: 5px;
    margin-bottom: 6px;
}
.footer-text {
    display: flex;
    justify-content: space-evenly;
    color: $offwhite;
    font-size: 1.6em;
    font-weight: 600;
    margin-top: 19px;
}