.flex-container {
    border-radius: 5px;

    .auth-form-wrapper {
        @include input-element();
        margin-bottom: 25px;


        .login-title {
            width: 400px;;
            text-align: center;
            font-size: 2em;
            margin-top: 30px;
            margin-bottom: 15px;
            line-height: 1.8;
        }

        .register-to-login-text {
            text-align: center;
            font-size: 2em;
            margin-top: 30px;
            margin-bottom: 15px;

            a {
                text-decoration: none;
                cursor: pointer;
                color: $red;
                font-weight: 600;
                
                &:hover {
                    border-bottom: 2px solid $red;
                }
            }
        }

        .btn-form {
            @include base-btn();
            width: 100%;
            font-size: 1.6em;
        }   

        .form-group {
            display: grid;
            grid-template-columns: 1fr 6fr;
            padding: 42px;
            font-size: 1.5em;

            svg {
                font-size: 2em;
                margin-right: 15px;
                color: $green;
                margin-top: 10px;
                transition: 0.3s ease-in-out;


                &:hover {
                    color: $blue;
                }
            }
        }
    }
}