.modal-wrapper {
    transition: all .8s;
    height: 17px;

    .modal-body {
        margin-top: 10px;
        border-radius: 5px;
        background-color: $offwhite;
        padding: 10px 15px;
        height: auto;
        text-align: center;
        width: 350px;
        font-size: 1.5em;
        line-height: 1.5;

        a {
            text-decoration: none;
            cursor: pointer;
            color: $red;
            font-weight: 600;
            
            &:hover {
                border-bottom: 2px solid $red;
            }
        }
    }

    .open-modal-btn {
        cursor: pointer;
        font-size: 1.3em;
        font-weight: 700;
        border: 1px solid transparent;
        transition: all 0.2s ease-in-out;
        background-color: transparent;
        //color: $blue;
        color: $offwhite;
        border-radius: 5px;
        height: auto;
        width: 160px;
    
        &:active, &:focus {
            outline: none;
        }
    
        &:hover {
            color: white;
        }

    }
    


    .close-modal-btn {
        margin-top: 10px;
        cursor: pointer;
        font-size: 1.0em;
        font-weight: 700;
        border: 1px solid transparent;
        transition: all 0.2s ease-in-out;
        background-color: $green;
        color: $offwhite;
        border-radius: 5px;
        height: auto;
        width: 50px;
    
        &:active, &:focus {
            outline: none;
        }
    
        &:hover {
            background-color: $blue;
        }
    }

}



