.title-wrapper {
    margin-bottom: 10px;
    margin-top: 25px;
    display: flex;
    justify-content: center;
    .title-text {
        font-size: 3.5em;
        text-align: center;
        color: $offwhite;
    }

    .title-img {
        img {
            width: 25px;
        }
    }
}

.navbar-brand {
    text-decoration: none;
}
